.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.content{
    flex: 1 0 auto;
}

.footer{
    margin-top: auto;
}

html{
    height: 100%;
}

.bold{
    font-weight: bold;
}

.s18{
    font-size: 18px;
}

.s22{
    font-size: 22px;
}

.s28{
    font-size: 28px;
}

.s34{
    font-size: 34px;
}

.max-h-700{
    max-height: 700px;
}

a{
    text-decoration: none;
}