@media screen and (max-width: 1080px) {
    .metod_info{
        font-size: 20px;
    }
}

@media screen and (min-width: 1080px) {
    .metod_info{
        font-size: 34px;
    }
}

.metod{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4vh;
}

.metod_info{
    padding: 8vh 8vw;
    text-align: left;
}

.metod_image{

}

.metod_image img{
    width: 500px;
}